@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,500&display=swap');

body {
  box-sizing: border-box;
}

.App {
  font-family: 'Brygada 1918', serif;
  font-size: 1.3rem;
  text-align: center;
}

/* Styles directly from ant design site: to style the Layout component */
.site-layout-content {
  display: grid;

  min-height: 65vh;
  /* 280px; */
  padding: 1.5rem;
  background: #fff;
}

.logo {
  color: antiquewhite;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

[data-theme='dark'] .site-layout-content {
  background: #141414;
}
/* DONE: styles from Ant Design */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.input-label {
  display: block;
}

.app-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.app-grid-box {
  display: grid !important;
  grid-template-columns: auto auto;
  gap: 5px;
  text-transform: capitalize;
}
